<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @user.full_name %>
          </div> 
          <div class="panel-body">
            <p>
              Company name : <%= @user.company_name %>
            </p>
            <p>
              Phone number : <%= @user.phone %>
            </p>
            <p>
              Mobile number : <%= @user.mobile %>
            </p>
            <p>
              City  : <%= @user.city %>
            </p>
            <p>
              State  : <%= @user.state %>
            </p>
            <p>
              Address 1 : <%= @user.address_1 %>
            </p>
            <p>
              Address 2 : <%= @user.address_2 %>
            </p>
            <p>
              Business Type : <%= @user.business_type %>
            </p>
            <p>
              Hear From : <%= @user.hear_from %>
            </p>
            <p>
              subscribe_to_updates : <%= @user.subscribe_to_updates %>
            </p>
            <p>
              Security code : <%= @user.security_code %>
            </p>
            <p>
              TOC : <%= @user.toc %>
            </p>
        
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
