<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span> Category Lists </span>
            <%= link_to 'New', new_webmaster_category_path, class: 'pull-right' %>
          </div>
          <div class="panel-body">
            <div class="table-responsive">

              <table class="table table-striped table-bordered table-hover">
                <tr>
                  <th>Parent</th>
                  <th>First children</th>
                  <th>Second children</th>
                  <th>Third children</th>
                </tr>

              <% @parent_category.each do |category| %>
                <tr>
                  <td><%= category.name %></td>
                  <td>
                    <% category.children.each do |sub| %>
                      <%= sub.name %>
                      <%=', ' %>
                    <% end %>
                  </td>
                  <td>
                    <% sub_category =  category.get_all_children_level_1 %>

                    <% sub_category.flatten.each do |sub| %>
                      <%= sub.name %>
                      <%=', '%>
                    <% end %>
                  </td>
                  <td>
                    <% sub_sub_category = category.get_all_children_level_2 %>

                    <% sub_sub_category.each do |sub| %>
                      <%= sub.name %>
                      <%=', ' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>