<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                New Cateory
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">    
									<%= form_for [:webmaster, @category] do |f| %>
									  <% if @category.errors.any? %>
									    <div id="error_explanation">
									      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this webmaster_category from being saved:</h2>

									      <ul>
									      <%  @category.errors.full_messages.each do |msg| %>
									        <li><%= msg %></li>
									      <% end %>
									      </ul>
									    </div>
									  <% end %>

									  <div class="form-group">
									    <%= f.label :name %><br />
									    <%= f.text_field :name %>
									  </div>
									  <div class="form-group">
									    <%= f.label :parent_id %><br />
									    <%= f.collection_select :parent_id, Category.all, :id, :name %>
									  </div>

                    <div class="form-group">
                    <%= f.fields_for :image_attributes  do |i| %>
                      <%= i.file_field :image %>
                    <% end %>
                    </div>
						
									  <div class="form-group">
									    <%= f.submit %>
									  </div>
									<% end %>



									<%= link_to 'Back', webmaster_categories_path %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
