<div class="span3">
	<div class="left-add">
    <p class="add-box">
      <%= image_tag "left-add01.jpg" %>
    </p>
    <p class="add-box">
      <%= image_tag "left-add02.jpg" %>
    </p>
    <p class="add-box">
      <%= image_tag "left-add03.jpg" %>
    </p>
    <p class="add-box">
      <%= image_tag "left-add04.jpg" %>
    </p>
    <p class="add-box">
      <%= image_tag "left-add05.jpg" %>
    </p>
  </div>          
</div><!--/span-->