<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active first-child"></li>
      <li data-target="#myCarousel" data-slide-to="1"class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="item active">
      <%= image_tag "slide-01.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>WHY IS NONMOVING ITEMS?</br>
            Win win deals for both <b>buyers &amp; sellers</b></h1>	
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide-01.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>WHY IS NONMOVING ITEMS?</br>
Win win deals for both <b>buyers &amp; sellers</b></h1>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide-01.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>WHY IS NONMOVING ITEMS?</br>
Win win deals for both <b>buyers &amp; sellers</b></h1>
        </div>
      </div>
    </div>
  </div>
   <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
</div>
<div class="top-product-home">
  <div class="container-fluid">
  	<div class="row-fluid">
      <div class="span3">
        <%= image_tag "top-section-img.jpg" %>
      </div>
      <div class="span3">
        <%= image_tag "top-section-img1.jpg" %>
      </div>
      <div class="span3">
        <%= image_tag "top-section-img2.jpg" %>
      </div>
      <div class="span3">
        <%= image_tag "top-section-img3.jpg" %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render "shared/add_bar" %>
    <div class="span9">
    	<div class="heading-box">
        <h2 class="heading-text pull-left"> Categories </h2>
        <a href="#" class="view-all-link pull-right" title="view all"><i>&raquo;</i> View all</a>
        <span class="clr"></span>
      </div>
      <div class="product-slider">
        <div class="product-slider-control-box">
          <span class="product-slider-control product-slider-control-le">&nbsp;</span>
          <span class="product-slider-control product-slider-control-ri">&nbsp;</span>
        </div>
        <div class="row-fluid">    
        	<div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img1.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
            	<a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
        	<div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img2.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
              <a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
        	<div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img3.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
              <a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
        </div><!--/row-->
      </div>
      <div class="heading-box margin-top64PX">
        <h2 class="heading-text pull-left">Popular Products</h2>
        <a href="#" class="view-all-link pull-right" title="view all"><i>&raquo;</i> View all</a>
        <span class="clr"></span>
      </div>
      <div class="product-slider">
        <div class="product-slider-control-box">
          <span class="product-slider-control product-slider-control-le">&nbsp;</span>
          <span class="product-slider-control product-slider-control-ri">&nbsp;</span>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img4.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
              <a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
          <div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img5.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
              <a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
          <div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img6.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
              <a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
        </div><!--/row-->
      </div>    
      <div class="heading-box margin-top64PX">
      	<h2 class="heading-text pull-left">Featured Products</h2>
      	<a href="#" class="view-all-link pull-right" title="view all"><i>&raquo;</i> View all</a>
      	<span class="clr"></span>
      </div>
      <div class="product-slider">
      	<div class="product-slider-control-box">
          <span class="product-slider-control product-slider-control-le">&nbsp;</span>
          <span class="product-slider-control product-slider-control-ri">&nbsp;</span>
        </div>
        <div class="row-fluid">   
          <div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img1.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
              <a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
          <div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img2.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
              <a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
          <div class="span4">
            <div class="product-box">
              <div class="product-img">
                <%= image_tag "product-img3.jpg", {alt: "Product", title: "Product"} %>
              </div>
              <p class="product-shot-text">
                12.5 HP BRIGGS &amp; STRATTON 219807 VERTICAL ENGINE
                <span class="price-text">Rs.12000</span>
              </p>
              <a class="more-detail-btn" href="#" title="More Detail">More Detail</a>
            </div>              
          </div><!--/span-->
        </div><!--/row-->
      </div>   
      <div class="footer-add">
        <%= image_tag "footer-add.jpg", {alt: "Ads", title: "Ads"} %>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/.fluid-container-->
