<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                Edit Product
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
									<%= form_for [:webmaster, @product] do |f| %>
									  <% if @product.errors.any? %>
									    <div id="error_explanation">
									      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

									      <ul>
									      <%  @product.errors.full_messages.each do |msg| %>
									        <li><%= msg %></li>
									      <% end %>
									      </ul>
									    </div>
									  <% end %>
                    <%= f.hidden_field :token, :value=>@product.token %>

                    <%= f.hidden_field :user_id, :value=> current_user.id %>
									  <div class="form-group">
									    <%= f.label :title %><br />
									    <%= f.text_field :title %>
									  </div>
									  <div class="form-group">
									    <%= f.label :description %><br />
									    <%= f.text_area :description, :cols => "50", :rows => "8" %>
									  </div>

									  <div class="form-group">
									    <%= f.label :product_image %><br />
									    <%= f.file_field :product_image %>
									  </div>
									  <div class="form-group">
									    <% if @product.product_image.present? %>
									      <%= image_tag @product.product_image.thumb.url%>
                      <% end %>
									  </div>

									  <div class="form-group">
									    <%= f.label :price %><br />
									    <%= f.text_field :price %>
									  </div>
									  <div class="form-group">
									    <%= f.label 'Select brand name' %><br />
									    <%= f.collection_select :brand_id, Brand.all, :id, :name %>
									  </div>
									  <div class="form-group">
									    <%= f.label :part_number %><br />
									    <%= f.text_field :part_number %>
									  </div>

									  <div class="form-group" id='categories'>
                      <%= f.label 'Select category name' %><br />
                      <%= f.collection_select :category_id, Category.get_all_parent, :id, :name,  {:include_blank => 'Select category'}%>
                    </div>

                    <div class="form-group" id='sub_category'>
                      <%= render 'select_category', sub_categories: Category.get_all_sub_categories, selected_value: f.object.sub_category_id %>
                    </div>

                   <div class="form-group" id='sub_category_first'>
                      <%= render 'select_category_first', sub_categories: Category.get_all_sub_categories_level_1, selected_value: f.object.sub_category_first_id %>
                    </div>

                    <div class="form-group" id='sub_category_second'>
                      <%= render 'select_category_second', sub_categories: Category.get_all_sub_categories_level_2, selected_value: f.object.sub_category_second_id %>
                    </div>

									  <%= label_tag 'Product Attributes'%>

                    <%= link_to_add_association 'add more +', f, :products_product_items,
													    'data-association-insertion-node' => "#product_items ol",
													    'data-association-insertion-method' => "append",
													    :wrap_object => Proc.new {|ppi| ppi.build_product_item; ppi } %>
									  <div id='product_items'>
                      <ol>
											  <%= f.fields_for :products_product_items do |pp| %>
												  <%= render 'products_product_item_fields', f: pp %>

												<% end %>

											</ol>
										</div>

									<% end %>

									<ul id="pictures" data-update-url="<%= sort_webmaster_images_url %>" class="pictures_list">
											<%= render @images,:image => @image  %>
									</ul>
                  <%= label_tag 'Upload product images'%>
                  <%= render "upload_image" %>

                  <div class="clear"></div>

									<div class="row">
										<div class="col-lg-8 col-md-8">
											<br />
											<button id='product_submit' class="btn btn-primary btn-save">Save Project</button>
											<%= link_to 'Back', webmaster_products_path, class: 'btn btn-primary' %>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>

	  $('#new_image').fileupload();
	 //  $('#pictures').sortable({
		//   axis: 'y',
		//   update: function() {
		//     return $.post($(this).data('update-url'), $(this).sortable('serialize'));
		//   }
		// });

		$('#product_submit').on('click',function(){

	  	$('.edit_product').submit();
	  });

	  $('#product_category_id').change(function(){

      var val_id =  $('#product_category_id :selected').val();

      $.ajax({
          type: 'GET',
          url: "<%= search_categories_webmaster_products_path %>",
          data: {"sub_cat_id": val_id, "type": "category" }
      });

    });


</script>